Repository GSA-TTS/FAC, pull requests merged in 2024-05, with the labels that each got.

#3782 2024-05-01 | MAIN --> PROD | DEV (6123204) --> STAGING
  backend/census_historical_migration/test_federal_awards_xforms.py
  backend/census_historical_migration/test_notes_to_sefa_xforms.py
  backend/census_historical_migration/workbooklib/federal_awards.py
Labels: autogenerated, automerge

#3777 Replace missing program name in historical audits
  backend/census_historical_migration/test_federal_awards_xforms.py
  backend/census_historical_migration/workbooklib/federal_awards.py
Labels: census

#3774 3724 address historical audits with missing ueis
  backend/audit/validators.py
  backend/census_historical_migration/sac_general_lib/general_information.py
  backend/census_historical_migration/test_general_information_xforms.py
Labels: census

#3785 Sk/3697 invalid cluster names
  backend/census_historical_migration/test_federal_awards_xforms.py
  backend/census_historical_migration/workbooklib/federal_awards.py
Labels: census

#3795 2024-05-03 | MAIN --> PROD | DEV (967ddfa) --> STAGING
  backend/audit/intakelib/checks/check_gsa_migration_keyword.py
  backend/census_historical_migration/test_federal_awards_xforms.py
  backend/census_historical_migration/test_findings_xforms.py
  backend/census_historical_migration/workbooklib/federal_awards.py
  backend/census_historical_migration/workbooklib/findings.py
  backend/schemas/output/sections/FederalAwardsAuditFindings.schema.json
  backend/schemas/source/sections/FederalAwardsAuditFindings.schema.jsonnet
Labels: autogenerated, automerge

#3797 Replace lowercase y/n with uppercase in historical audits
  backend/census_historical_migration/test_shared_xforms.py
  backend/census_historical_migration/transforms/xform_uppercase_y_or_n.py
  backend/census_historical_migration/workbooklib/corrective_action_plan.py
  backend/census_historical_migration/workbooklib/federal_awards.py
  backend/census_historical_migration/workbooklib/findings.py
  backend/census_historical_migration/workbooklib/findings_text.py
Labels: census

#3784 Replace missing major program in historical audits
  backend/census_historical_migration/test_federal_awards_xforms.py
  backend/census_historical_migration/workbooklib/federal_awards.py
Labels: census

#3807 2024-05-08 | MAIN --> PROD | DEV (356f845) --> STAGING
  backend/census_historical_migration/test_federal_awards_xforms.py
  backend/census_historical_migration/test_shared_xforms.py
  backend/census_historical_migration/transforms/xform_uppercase_y_or_n.py
  backend/census_historical_migration/workbooklib/corrective_action_plan.py
  backend/census_historical_migration/workbooklib/federal_awards.py
  backend/census_historical_migration/workbooklib/findings.py
  backend/census_historical_migration/workbooklib/findings_text.py
Labels: autogenerated, automerge

#3801 Sk/3723 missing y n in SP_FRAMEWORK_REQUIRED, LOWRISK
  backend/audit/utils.py
  backend/census_historical_migration/sac_general_lib/audit_information.py
  backend/census_historical_migration/test_audit_information_xforms.py
  backend/census_historical_migration/transforms/xform_string_to_bool.py
  backend/schemas/output/sections/AuditInformation.schema.json
  backend/schemas/source/sections/AuditInformation.schema.jsonnet
Labels: census

#3805 Replacing missing CPASTATE in historical audits
  backend/audit/intakelib/checks/check_gsa_migration_keyword.py
  backend/census_historical_migration/change_record.py
  backend/census_historical_migration/end_to_end_core.py
  backend/census_historical_migration/test_secondary_auditors_xforms.py
  backend/census_historical_migration/workbooklib/secondary_auditors.py
  backend/schemas/output/sections/SecondaryAuditors.schema.json
  backend/schemas/source/sections/SecondaryAuditors.schema.jsonnet
Labels: census

#3791 3718 address historical audits with missing planned actions
  backend/census_historical_migration/test_corrective_action_plan_xforms.py
  backend/census_historical_migration/test_findings_xforms.py
  backend/census_historical_migration/workbooklib/corrective_action_plan.py
  backend/census_historical_migration/workbooklib/findings_text.py
Labels: census

#3813 2024-05-09 | MAIN --> PROD | DEV (29cb534) --> STAGING
  backend/audit/intakelib/checks/check_gsa_migration_keyword.py
  backend/audit/utils.py
  backend/census_historical_migration/change_record.py
  backend/census_historical_migration/end_to_end_core.py
  backend/census_historical_migration/sac_general_lib/audit_information.py
  backend/census_historical_migration/test_audit_information_xforms.py
  backend/census_historical_migration/test_corrective_action_plan_xforms.py
  backend/census_historical_migration/test_findings_xforms.py
  backend/census_historical_migration/test_secondary_auditors_xforms.py
  backend/census_historical_migration/transforms/xform_string_to_bool.py
  backend/census_historical_migration/workbooklib/corrective_action_plan.py
  backend/census_historical_migration/workbooklib/findings_text.py
  backend/census_historical_migration/workbooklib/secondary_auditors.py
  backend/docker-compose.yml
  backend/schemas/output/sections/AuditInformation.schema.json
  backend/schemas/output/sections/SecondaryAuditors.schema.json
  backend/schemas/source/sections/AuditInformation.schema.jsonnet
  backend/schemas/source/sections/SecondaryAuditors.schema.jsonnet
Labels: autogenerated, automerge

#3810 Sk/3715 missing firm names
  backend/audit/intakelib/checks/check_gsa_migration_keyword.py
  backend/census_historical_migration/test_secondary_auditors_xforms.py
  backend/census_historical_migration/workbooklib/secondary_auditors.py
Labels: census

#3811 3705 address historical federal awards with extraneous passthrough names
  backend/audit/intakelib/checks/check_gsa_migration_keyword.py
  backend/audit/intakelib/checks/check_passthrough_name_when_no_direct.py
  backend/audit/intakelib/common/error_messages.py
  backend/census_historical_migration/test_federal_awards_xforms.py
  backend/census_historical_migration/workbooklib/federal_awards.py
  backend/schemas/output/sections/FederalAwards.schema.json
  backend/schemas/source/sections/FederalAwards.schema.jsonnet
Labels: census

#3818 2024-05-10 | MAIN --> PROD | DEV (4c2fa9a) --> STAGING
  backend/audit/intakelib/checks/check_gsa_migration_keyword.py
  backend/audit/intakelib/checks/check_passthrough_name_when_no_direct.py
  backend/audit/intakelib/common/error_messages.py
  backend/census_historical_migration/test_federal_awards_xforms.py
  backend/census_historical_migration/test_secondary_auditors_xforms.py
  backend/census_historical_migration/workbooklib/federal_awards.py
  backend/census_historical_migration/workbooklib/secondary_auditors.py
  backend/dissemination/templates/search-alert-info.html
  backend/schemas/output/sections/FederalAwards.schema.json
  backend/schemas/source/sections/FederalAwards.schema.jsonnet
Labels: autogenerated, automerge

#3829 2024-05-11 | MAIN --> PROD | DEV (a5ada35) --> STAGING
  backend/report_submission/templates/report_submission/step-2.html
  docs/architecture/diagrams/Application/Context Diagram.png
  docs/architecture/diagrams/Application/fac_system_context_unified.md
  terraform/shared/modules/cg-logshipper/cg-logshipper.tf
  terraform/shared/modules/cg-logshipper/outputs.tf
  terraform/shared/modules/env/clamav.tf
  terraform/shared/modules/env/scanner.tf
  terraform/shared/modules/scanner/outputs.tf
  terraform/shared/modules/scanner/prepare-scanner.sh
  terraform/shared/modules/scanner/providers.tf
  terraform/shared/modules/scanner/readme.md
  terraform/shared/modules/scanner/scanner.tf
  terraform/shared/modules/scanner/variables.tf
Labels: autogenerated, automerge

#3823 Correcting CLUSTERNAME transformation tracking, gsa_migration validation
  backend/audit/test_validators.py
  backend/audit/validators.py
  backend/audit/views/audit_info_form_view.py
  backend/census_historical_migration/workbooklib/federal_awards.py
  backend/dissemination/workbooklib/sac_creation.py
Labels: census

#3808 Replacing missing ZIPCODE, CPAZIPCODE in historical audits
  backend/audit/intakelib/checks/check_gsa_migration_keyword.py
  backend/audit/test_schemas.py
  backend/audit/validators.py
  backend/census_historical_migration/sac_general_lib/general_information.py
  backend/census_historical_migration/test_general_information_xforms.py
  backend/census_historical_migration/test_secondary_auditors_xforms.py
  backend/census_historical_migration/transforms/xform_remove_hyphen_and_pad_zip.py
  backend/census_historical_migration/workbooklib/secondary_auditors.py
  backend/schemas/output/sections/GeneralInformation.schema.json
  backend/schemas/output/sections/GeneralInformationRequired.schema.json
  backend/schemas/output/sections/SecondaryAuditors.schema.json
  backend/schemas/source/sections/GeneralInformation.schema.jsonnet
  backend/schemas/source/sections/SecondaryAuditors.schema.jsonnet
Labels: census

#3819 Correcting CPASTATE transformation tracking
  backend/census_historical_migration/workbooklib/secondary_auditors.py
Labels: census

#3822 Correcting PASSTHROUGHAWARD transformation tracking
  backend/census_historical_migration/workbooklib/federal_awards.py
Labels: census

#3821 Correcting MAJORPROGRAM transformation tracking
  backend/census_historical_migration/workbooklib/federal_awards.py
Labels: census

#3824 Correcting FEDERALPROGRAMNAME transformation tracking
  backend/census_historical_migration/workbooklib/federal_awards.py
Labels: census

#3832 2024-05-14 | MAIN --> PROD | DEV (3b115e1) --> STAGING
  backend/audit/intakelib/checks/check_gsa_migration_keyword.py
  backend/audit/test_schemas.py
  backend/audit/test_validators.py
  backend/audit/validators.py
  backend/audit/views/audit_info_form_view.py
  backend/census_historical_migration/sac_general_lib/general_information.py
  backend/census_historical_migration/test_federal_awards_xforms.py
  backend/census_historical_migration/test_general_information_xforms.py
  backend/census_historical_migration/test_secondary_auditors_xforms.py
  backend/census_historical_migration/transforms/xform_remove_hyphen_and_pad_zip.py
  backend/census_historical_migration/workbooklib/federal_awards.py
  backend/census_historical_migration/workbooklib/secondary_auditors.py
  backend/dissemination/workbooklib/sac_creation.py
  backend/schemas/output/sections/GeneralInformation.schema.json
  backend/schemas/output/sections/GeneralInformationRequired.schema.json
  backend/schemas/output/sections/SecondaryAuditors.schema.json
  backend/schemas/source/sections/GeneralInformation.schema.jsonnet
  backend/schemas/source/sections/SecondaryAuditors.schema.jsonnet
Labels: autogenerated, automerge

#3836 2024-05-15 | MAIN --> PROD | DEV (b793940) --> STAGING
  backend/audit/validators.py
  backend/census_historical_migration/sac_general_lib/general_information.py
  backend/census_historical_migration/test_general_information_xforms.py
  backend/census_historical_migration/workbooklib/findings.py
Labels: autogenerated, automerge

#3847 2024-05-16 | MAIN --> PROD | DEV (f95d6ef) --> STAGING
  terraform/meta/config.tf
Labels: autogenerated, automerge

#3844 Sk/3681 create django models
  backend/dissemination/migrations/0016_invalidauditrecord_issuedescriptionrecord.py
  backend/dissemination/models.py
Labels: census

#3859 Sk/3687 missing accounting policies
  backend/audit/intakelib/checks/check_gsa_migration_keyword.py
  backend/census_historical_migration/test_notes_to_sefa_xforms.py
  backend/census_historical_migration/workbooklib/notes_to_sefa.py
Labels: census

#3499 Sk/cog over w dissemination tables
  backend/dissemination/hist_models/__init__.py
  backend/dissemination/hist_models/census_2019.py
  backend/dissemination/hist_models/census_2022.py
  backend/dissemination/migrations/0017_delete_censuscfda19_delete_censuscfda22_and_more.py
  backend/dissemination/models.py
  backend/support/README.md
  backend/support/cog_over.py
  backend/support/management/commands/check_cog_over_for_year.py
  backend/support/test_cog_over.py
Labels: census

#3889 Tracking incorrect cluster totals
  backend/audit/intakelib/checks/runners.py
  backend/census_historical_migration/invalid_migration_tags.py
  backend/census_historical_migration/test_federal_awards_xforms.py
  backend/census_historical_migration/workbooklib/federal_awards.py
Labels: census

#3882 #3696 Adding migration ADR to the tree
  docs/architecture/decisions/0035-migrating-data-from-census-to-gsa.md
Labels: census

#3892 Sk/extra finding references
  backend/audit/cross_validation/check_ref_number_in_findings_text.py
  backend/audit/cross_validation/test_check_ref_number_in_findings_text.py
  backend/census_historical_migration/invalid_migration_tags.py
  backend/census_historical_migration/workbooklib/findings_text.py
Labels: census

#3867 Refactor Search tests + POM
  backend/cypress.config.js
  backend/cypress/e2e/create-new-audit.cy.js
  backend/cypress/e2e/full-submission.cy.js
  backend/cypress/e2e/login.cy.js
  backend/cypress/e2e/ready-for-cert.cy.js
  backend/cypress/e2e/search-tests.cy.js
  backend/cypress/fixtures/search_data.json
  backend/cypress/page_objects/search-page.js
  backend/cypress/support/audit-info-form.js
  backend/cypress/support/auditee-certification.js
  backend/cypress/support/auditee-info.js
  backend/cypress/support/auditor-certification.js
  backend/cypress/support/check-eligibility.js
  backend/cypress/support/commands.js
  backend/cypress/support/cross-validation.js
  backend/cypress/support/dissemination-table.js
  backend/cypress/support/federal-awards.js
  backend/cypress/support/file-uploaded-msg.js
  backend/cypress/support/full-submission.js
  backend/cypress/support/initialize-audit.js
  backend/cypress/support/login-gov.js
  backend/cypress/support/logout-gov.js
  backend/cypress/support/tribal-audit-form.js
  backend/cypress/support/unlock-cert.js
  backend/cypress/support/workbook-uploads.js
  backend/package-lock.json
  backend/package.json
Labels: eng
